#calculator {
  width: 300px;
  margin: 30px auto;
}

#display {
  height: 50px;
  border: 1px solid #000;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 24px;
  text-align: right;
  overflow: hidden;
}

#button {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

#button button {
  height: 50px;
  font-size: 20px;
  cursor: pointer;
}